/*
color palette 
Primary: #DCF2B0
Primary dark: #C2EABD
Text: #393D3F
Accent: #F87060 
AccentDark: #F86624 
 */
 
 
/*************************************************
 *
 * Generic element styles
 *
 *************************************************/

p{
	color: #393D3F;
  font-family: verdana;
}

body{
  background-image: url("../photos/background_pattern.jpeg");
  padding: 5px;
}

img{
  width:100%;
}

i{
  color: #F86624;
}

h2{
  font-size: 30px;
}



/*************************************************
 *
 * Logo styles
 *
 *************************************************/
.Logo{
  position:fixed;
	top:5px;
	left:3%;
	width:90%;
	height:130px;
	background-color: #C2EABD;
	border: 6px solid #F87060;
  padding-left: 50px;
}

.Logo h2{
  color: #F86624;
  font-size: 40px;
  margin-bottom: 0px;
}

.Logo h3{
  color: #F87060;
  font-size: 30px;
  margin-top: 0px;
}





/*************************************************
 *
 * Navigation styles
 *
 *************************************************/
.navigation{
  position: fixed;
  top: 165px; 
  left: 3%;
  width: 250px;
  background-color: #DCF2B0;
  border: 6px solid #F87060;
}

.navigation ul{
  list-style: none;
}

.navigation li{
  margin:13px;
	text-decoration:none;
  font-size: 35px;
  color: #393D3F
}

.navigation a{
   text-decoration: none;
}

.navigation li:hover{
  background-color:#C2EABD;
	color:#F87060;
}




/*************************************************
 *
 * Main Contents
 *
 *************************************************/
.main_contents{
  margin-top: 155px;
  margin-left: 315px;
  margin-right: 30px;
  padding: 5px;
  color: #393D3F;
/*  background-color: #DCF2B0;
  border: 6px solid #F87060;*/
}

.column{
  float: left;
}

.left{
  width: 60%;
}

.right{
  width: 35%;
}

.main_contents ul {
  list-style: none;
}
.main_contents ul li:before {
  content:"\2713\0020";
}